img {
    width: 30%;
    margin: 1.3%;
    border:2px solid white;
    
}


head, body{
    font-family: 'Roboto', sans-serif;
}

 

  img:hover {
    cursor: pointer;
    transition: 0.25s, box-shadow 0.25s,transform 0.25s;
    border-color: black;
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
    visibility: visible;
   
  
  }
  